body {
  color: #222;
  font-family: sans-serif;
  line-height: 1.5;
  margin: auto;
  /* 横の中央揃え */
  max-width: 768px;
  padding: 1rem;
  /* 余白 */
  scrollbar-gutter: stable;
  /* Ensure layout consistency */
}

header {
  border-bottom: 1px solid #222;
  padding-bottom: 0.3rem;
  margin-bottom: 1rem;
}

footer {
  border-top: 1px solid #222;
  margin-top: 1rem;
  position: sticky;
  top: 100vh;
}

a {
  color: #00e;
  text-decoration: none;
}

nav ul {
  display: flex;
  /* 横並び */
  list-style: none;
  /* 箇条書きの点を消す */
  padding: 8px 0;
  margin: 0;
  /* ナビゲーション全体の上下の余白 */
}

nav li {
  margin: 0 5px;
  /* 各項目の間隔を調整 */
}

nav a {
  text-decoration: none;
  /* 下線を消す */
  font-size: large;
  color: #333;
  padding: 8px 15px;
  border-radius: 5px;
  transition: all 0.3s;
}

nav a:hover {
  background: #eee;
}

figure img {
  max-width: 100%;
  /* body の横幅以上に広がらない */
  margin: 0 auto;
  /* 中央寄せ */
}

html,
body {
  min-height: 100vh;
  /* 画面の高さいっぱいに表示 */
}

html {
  scrollbar-gutter: stable;
  /* スクロールバーを表示してもずれないようにする */
}

*,
::before,
::after {
  box-sizing: border-box;
  /* 子要素も border-box にする */
}

/* コードブロック */

.code-container {
  border-radius: 8px;
  overflow: hidden;
}

.file-name {
  background: #3a3f4b;
  color: #ffffff;
  font-size: 13px;
  padding: 5px 12px;
  font-weight: bold;
}

.highlight {
  background-color: #272822;
  overflow-x: auto;
  /* autoにすると必要な場合だけスクロールバーが出る */
  scrollbar-gutter: stable;
  width: auto;
  height: 100%;
}

.highlight>pre {
  display: flex;
}

.highlight>pre>code {
  padding: 0 10px;
}

.highlight::-webkit-scrollbar {
  width: 100%;
  /* これを付けないと右端までスクロールできない */
  height: 8px;
  /* スクロールバーの高さ（横スクロール用） */
  background: #ccc;
  /* 背景色 */
}

.highlight::-webkit-scrollbar-thumb {
  background: #666;
  /* スクロールバー本体の色 */
  border-radius: 4px;
  /* 丸みをつける */
}

html::-webkit-scrollbar {
  width: 10px;
  /* スクロールバーの幅（縦スクロール用） */
  background: #ccc;
  /* 背景色 */
}

html::-webkit-scrollbar-thumb {
  background: #666;
  /* スクロールバー本体の色 */
  border-radius: 5px;
  /* 丸みをつける */
}

.copy-button-container {
  position: sticky;
  /* スクロールしても固定 */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.copy-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #333;
  color: white;
  border: none;
  padding: 5px 10px;
  font-size: 12px;
  cursor: pointer;
  border-radius: 4px;
  opacity: 0;
  transition: opacity 0.2s;
}

.copy-button.copied {
  opacity: 1 !important;
}

.highlight:hover .copy-button {
  opacity: 0.7;
}

.highlight:hover .copy-button:hover {
  opacity: 1;
}

.highlight:hover .copy-button.copied {
  opacity: 1 !important;
}

/* 記事の一覧表示 */

.article-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.article-card {
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 300px;
  transition: transform 0.2s ease-in-out;
}

/* .article-card:hover {
  transform: scale(1.05);
} */
.article-image {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.article-content {
  padding: 15px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.article-title {
  font-size: 18px;
  font-weight: bold;
  margin: 0 0 8px;
}

.article-title a {
  color: black;
  text-decoration: none;
}

.article-title a:hover {
  text-decoration: underline;
}

.article-date {
  font-size: 12px;
  color: #777;
  margin: 0;
}

.article-excerpt {
  font-size: 14px;
  color: #555;
  margin: 12px 0 0;
  flex-grow: 1;
}

.article-tags {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.tag {
  background-color: #007bff;
  color: white;
  font-size: 12px;
  padding: 3px 8px;
  border-radius: 5px;
  text-decoration: none;
  vertical-align: middle;
}

.tag a {
  color: white;
  text-decoration: none;
}

.tag a:hover {
  text-decoration: underline;
}

/* タグの一覧表示 */
.tag-container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}

.tag-card {
  background: #007bff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 5px 10px;
  display: flex;
  align-items: center;
  gap: 8px;
  transition: transform 0.2s ease-in-out;
}

.tag-card:hover {
  transform: scale(1.05);
}

.tag-name {
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
}

.tag-name:hover {
  text-decoration: underline;
}

.tag-count {
  background-color: #7abafb;
  color: white;
  font-size: 14px;
  font-weight: bold;
  padding: 3px 5px;
  border-radius: 8px;
}

/* リンクカードの表示 */
.link-card {
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 8px;
  text-decoration: none;
  color: #333;
  overflow: hidden;
  height: 110px;
}

.link-card__image img {
  width: 220px;
  height: 110px;
  object-fit: contain;
  overflow: hidden;
}

.link-card__content {
  display: flex;
  flex-direction: column;
  padding: 10px;
  flex-grow: 1;
  justify-content: center;
  height: 100%;
}

.link-card__content:hover {
  background: #eee;
}

.link-card__title {
  font-size: 16px;
  font-weight: bold;
  margin: 0 0 5px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  line-clamp: 1;
}

.link-card__description {
  font-size: 14px;
  color: #555;
  margin: 0 0 8px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  line-clamp: 1;
}

.link-card__url {
  font-size: 12px;
  margin: 5px 0;
  color: #555;
}

/* ページネーション */
.pagination-custom {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 20px 0;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.pagination-item {
  display: inline-block;
}

.pagination-page-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  padding: 5px;
  text-decoration: none;
  color: #333;
  font-size: 16px;
  font-weight: bold;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.pagination-item.active .pagination-page-link {
  background-color: #007bff;
  color: #fff;
  border-color: #007bff;
  pointer-events: none;
}

.pagination-item.disabled .pagination-page-link {
  color: #aaa;
  background-color: #f5f5f5;
  border-color: #ddd;
  pointer-events: none;
  cursor: default;
}
