body {
  color: #222;
  font-family: sans-serif;
  line-height: 1.5;
  margin: auto; /* 横の中央揃え */
  max-width: 768px;
  padding: 1rem; /* 余白 */
}

header {
  border-bottom: 1px solid #222;
  padding-bottom: 0.3rem;
  margin-bottom: 1rem;
}

footer {
  border-top: 1px solid #222;
  margin-top: 1rem;
  position: sticky;
  top: 100vh;
}

a {
  color: #00e;
  text-decoration: none;
}

nav ul {
  display: flex; /* 横並び */
  list-style: none; /* 箇条書きの点を消す */
  padding: 8px 0;
  margin: 0; /* ナビゲーション全体の上下の余白 */  
}

nav li {
  margin: 0 5px; /* 各項目の間隔を調整 */
}

nav a {
  text-decoration: none; /* 下線を消す */
  font-size: large;
  color: #333;
  padding: 8px 15px;
  border-radius: 5px;
  transition: all 0.3s;
}

nav a:hover {
  background: #eee;
}

figure img {
  max-width: 100%;  /* body の横幅以上に広がらない */
  margin: 0 auto;   /* 中央寄せ */
}

html, body {
  min-height: 100vh; /* 画面の高さいっぱいに表示 */
  box-sizing: border-box; /* padding や border が要素のサイズに含まれる */
}

.highlight {
  padding: 0 10px;
  background-color: #272822;
  display: flex;
  overflow-x: auto; /* autoにすると必要な場合だけスクロールバーが出る */
  scrollbar-gutter: stable;
}

.highlight::-webkit-scrollbar {
  width: 100% /* これを付けないと右端までスクロールできない */;
  height: 8px; /* スクロールバーの高さ（横スクロール用） */
  background: #ccc; /* 背景色 */
}

.highlight::-webkit-scrollbar-thumb {
  background: #666; /* スクロールバー本体の色 */
  border-radius: 4px; /* 丸みをつける */
}