{{- $url := urls.Parse .url }}
{{- $title := "" }}
{{- $description := "" }}
{{- $image := "" }}
{{- $siteURL := "" }}
{{- with try (resources.GetRemote $url) }}
  {{ with .Err }} <!-- Error occurred while fetching remote -->
    {{- warnf "%s" . }}
    {{- $title = "Error occurred while fetching remote" }}
    {{- $siteURL = $url.Hostname }}
  {{ else with .Value }} <!-- get OGP remote resource -->
    {{- $content := .Content }}
    <!-- get title -->
    {{- $found := findRESubmatch `og:title["\'].*?content=["\'](.*?)["\']` $content 1 }}
    {{- range $found }}
      {{- $title = index . 1 }}
    {{- end }}
    {{- if eq $title "" }}
      {{- $found := findRESubmatch `<title>(.*?)</title>` $content 1 }}
      {{- range $found }}
        {{- $title = index . 1 }}
      {{- end }}
    {{- end }}

    <!-- get description -->
    {{- $found := findRESubmatch `og:description["\'].*?content=["\'](.*?)["\']` $content 1 }}
    {{- range $found }}
      {{- $description = index . 1 }}
    {{- end }}
    {{- if eq $description "" }}
      {{- $found := findRESubmatch `description["\'].*?content=["\''](.*?)["\']` $content 1 }}
      {{- range $found }}
        {{- $description = index . 1 }}
      {{- end }}
    {{- end }}

    <!-- get image -->
    {{ with resources.Get "images/noimage.png" }}
      {{- $image = .RelPermalink }}
    {{ end }}
    {{- $found := findRESubmatch `og:image["\'].*?content=["\'](.*?)["\']` $content 1 }}
    {{- range $found }}
      {{- $image = index . 1 }}
    {{- end }}

    <!-- get siteURL -->
    {{- $siteURL = $url.Hostname }}

  {{ else }} <!-- 404 -->
    {{ warnf "Unable to get remote resource %q" $url }}
    {{ $title = "Unable to get remote resource" }}
    {{ $siteURL = $url.Hostname }}
  {{ end }}
{{ end }}

<a href="{{ $url }}" target="_blank" class="link-card">
  <div class="link-card__content">
    <p class="link-card__title">{{ $title }}</p>
    <p class="link-card__description">{{ $description }}</p>
    <p class="link-card__url">{{ $siteURL }}</p>
  </div>
  {{ if ne $image "" }}
    <div class="link-card__image">
      <img src="{{ $image }}" alt="サイトの画像">
    </div>
  {{ end }}
</a>