{{- /*
For a given taxonomy, renders a list of terms assigned to the page.

@context {page} page The current page.
@context {string} taxonomy The taxonomy.

@example: {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
*/}}

{{- $page := .page }}
{{- $taxonomy := .taxonomy }}

{{- with $page.GetTerms $taxonomy }}
  {{- $label := (index . 0).Parent.LinkTitle }}
  {{- $sorted := sort . "LinkTitle" }}
  <span>
    <span>{{ $label }}:
      {{- range $sorted }}
        <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
        {{- if ne . (index (last 1 $sorted) 0) }}, {{ end }}
      {{- end }}
    </span>
  </span>
{{- end }}
